---
---
body
	padding-top 20px
	padding-bottom 40px

code
pre
	font-size 10px

/////// Homepage ///////////

.container-narrow
	margin 0 auto
	max-width 700px

.container-narrow > hr
	margin 30px 0

.jumbotron
	margin 60px 0
	text-align center

.jumbotron h1
	font-size 64px
	line-height 80px
	margin-bottom 40px

.jumbotron .btn
	font-size 21px
	padding 14px 24px

p.lead
	background #EEE
	border-radius 10px
	padding 20px
	text-align justify

.marketing
	margin 60px 0

.marketing p + h4
	margin-top 28px
